 .container {
    max-width: 100vw;
    display: flex;
    
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

 }

      
       @media screen and (max-width: 992px){
         html{font-size: 12px;}
       }