.card{
    width: 250px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
 .card .card-img{
    width: 85px;
}
.card .ser-img{
    width: 100%;
}
.card .ser-title{
    color:  #1E1D4C;

font-family: Poppins;
font-size: 20px;

font-weight: 600;

}
.ser-desc{
    max-width: 230px;
    color: #7D7D7D;

  text-align: center;
    font-family: Poppins;
    font-size: 16px;
   
    font-weight: 500;
    line-height: 26px;}