.package-container{
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat( auto-fill, 350px);
    grid-template-rows: auto auto;
    justify-content: center;
    column-gap: 40px;
    row-gap: 40px;
}